@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');

#web3-header {
    font-family: 'Inter' !important;
    font-size: 55px;
    font-weight: 700;
    line-height: 3.4rem;
    height: 100%;
}

.left-main-column{
    padding-right: 3rem;
}



.navbar-container-block{
    width: 30rem !important;
}

.navbar-list-principal{
    width: 30rem;
}


.promise-text {
    text-align: left;
    font-family: 'Inter' !important;
    font-weight: 300;
}

.left-upper-readmore-btn {
    background-color: hsl(5, 85%, 63%);
    color: hsl(36, 100%, 99%);
    font-family: 'Inter' !important;
    border: none;
    width: 10rem;
    padding: 10px;
}