@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');



ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 100% !important;
}

li {
    padding: 5px;
    margin-right: 20px;
}

.nav-link {
    font-family: 'Inter' !important;
    color: hsl(236, 13%, 42%);
    font-size: 15px;
}